LuckyNumbers/.vs/LuckyNumbers/DesignTimeBuild/.dtbcache.v2
LuckyNumbers/.vs/LuckyNumbers/v17/.suo
LuckyNumbers/.vs/ProjectEvaluation/luckynumbers.metadata.v2
LuckyNumbers/.vs/ProjectEvaluation/luckynumbers.projects.v2
LuckyNumbers/LuckyNumbers/obj/Debug/netcoreapp3.1
LuckyNumbers/LuckyNumbers/obj
LuckyNumbers/LuckyNumbers/bin/Debug/netcoreapp3.1
LuckyNumbers/.vs/LuckyNumbers/FileContentIndex
*.v1
CoffeeRoaster/.vs
